body {
    font-family: consolas;
}


h1, h2 {
    margin-bottom: 20px;
}

#eventForm {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

#eventLink, #participantSchedules, #bestTime {
    margin-top: 20px;
}

#eventLink a {
    word-break: break-all; /* Allows long URLs to wrap */
}

#scheduleInput {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

#availabilityList {
    list-style: none;
    padding: 0;
}

#availabilityList li {
    padding: 5px;
    border-bottom: 1px solid #eee;
}

#availabilityList li:last-child {
    border-bottom: none;
}

#addAvailability {
    margin-top: 5px;
}
